body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    background-color: #FAFAFB;
}

.header {
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
}

.header-inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

/* item -> header-item */

.item {
    display: flex;
    align-items: center;
}

.item {
    flex-basis: 33.3%;
}

.item:last-child {
    justify-content: flex-end;
}

.nav {
    display: flex;
    font-size: 17px;
    list-style: none;
    gap: 2rem;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #4B3189;
}

a.button-contact:hover {
    vertical-align: middle;
    color: #fff;
    background-color: #0F0F0F;
}

.logo {
    margin-inline: auto;
}

.button-contact {
    width: 120px;
    height: 35px;
    border: 1px solid #676767;
    background: #EFEFEF;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container {
    display: flex;
    margin: 0 auto;
    gap: 2rem;
    width: 1200px;
}

.title-menu {
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 40px;
    width: 145px;
    padding-bottom: 7px;
    border-bottom: 2px solid #4B3189;
    font-weight: 50%;
    text-transform: capitalize;
    color: #4B3189;
    transition: 1s;
}

.title:hover {
    transform: scale(1.1);
}

.title-row {
    font-size: 35px;
    margin-top: 20px;
}

.title-paragraph {
    font-size: 17px;
    color: #676767;
}

hr {
    width: 570px;
    color: #E3E3E3;
}

.title-last {
    font-weight: 400;
    color: #0F0F0F;
}

.box-button {
    display: flex;
}

.search-input {
    width: 250px;
    height: 41px;
    border: solid 1px #676767;
    text-align: center;
    border-right: none;
}

::-webkit-input-placeholder {
    color: #676767;
}

.serch-button {
    width: 160px;
    height: 45px;
    background: #EFEFEF;
    color: black;
    border: solid 1px #676767;
    cursor: pointer;
}

button.serch-button:hover {
    vertical-align: middle;
    color: #fff;
    background-color: #0F0F0F;
}

.images {
    width: 1170px;
    height: 600px;
}

img {
    width: 100%;
    height: 100%;
}